{% extends "layout.html" %}
{% block title %}Eurovision{% endblock %}
{% block content %}

<img src="{{ url_for('static', filename='main/icbine.png') }}"
     style="display: block; margin: 0px auto; max-width: 400px; width: 100%; border-radius: 50%/10%;">

<h2>Welcome to Eurovision{{ '' if not logged_in else ' ' + li.preferred_name }}!</h2>

<p>
    As the Executive Supervisor of this glorious, completely legally distinct musical extravaganza, it is my
    absolute honour to welcome you to the official announcement of "I Can’t Believe It’s Not Eurovision!"
    <br>
    While my distant, slightly more corporate cousin Martin Oestrogens gets to say "You're good to go," I am here to
    tell you that we are almost good to go. It's time to submit your entries!
    <br>
    <strong>Entries will close on Saturday, 3rd October, 2026</strong>
    <br>
<hr>
<strong>Here are the official, highly confidential details</strong>
<ul>
    <li>The Master of Ceremonies: Me, Martin Fuchsia</li>
    <li>Your host country this year: North Coldenberg!</li>
    <li>The Mission & this years theme: To witness the highest of highs, the lowest of lows, an aggressive
        amount of key changes, and an unhinged ammount of glitter
    </li>
    <li>The Date: Saturday, November 21st</li>
    <li>The Venue: TBA (Negotiations with the living room cat are ongoing)</li>
    <li>The Master of Ceremonies: Still me, Martin Periwinkle</li>
</ul>
<hr>
<h4>This Years rules:</h4>
<ul>
    <li>Songs must be under 4 mins in length</li>
    <li>Songs must have lyrics. They can not be instrumental</li>
    <li>You can enter a song from a previous Eurovision act. This is both Eurovision and I can't believe it's not
        Eurovision.
        This means you can enter a song by Baby Lasagna but not Rim Tim Tagi Dim
    </li>
    <li>You can not enter a song from last years winner. This means nothing from North Coldenburg (Oliver Tree) and
        nothing from Dara
    </li>
</ul>
<hr>
<h4>Usefull files</h4>
<p>Postcard song/theme music can be downloaded from
    <a href="{{ url_for('static', filename='Eurovision 2026 Postcard Theme _ 1.mp3') }}" download>here</a>,
    <a href="{{ url_for('static', filename='Eurovision 2026 Postcard Theme _ 2.mp3') }}" download>here</a>,
    <a href="{{ url_for('static', filename='Eurovision 2026 Postcard Theme _ 3.mp3') }}" download>here</a>
    and <a href="{{ url_for('static', filename='Eurovision 2026 Postcard Theme _ 4.mp3') }}" download>here</a>,
    (But feel free to use the theme from any year)
</p>
<strong>The countdown to the sparkle begins now!</strong>
<br><br>
<section>
    {% if not logged_in %}
    <p>You'll need to be logged in to do Eurvision things...
        <a href="{{ url_for('main.login', after_login_redirect=this_page_url) }}">Login</a> Now!
        {% else %}
    <div class="grid">
        <a href="{{ url_for('signup.entry') }}">
            <button class="primary">Edit <em>my</em> entry</button>
        </a>
        <a href="{{ url_for('signup.entries') }}">
            <button class="secondary">View all {{ entries | length }} in-progress and complete entries</button>
        </a>
        <a href="{{ url_for('signup.entries', contestants=True) }}">
            <button class="secondary">View all {{ contestants | length }} complete entries</button>
        </a>
    </div>
    {% endif %}
</section>

{% if logged_in %}
<section>
    <h3>Current entries:</h3>
    {% for entry in entries %}
    <article>
        <header>{{ entry.username }}</header>
        <strong>{{ entry.country }}</strong>
    </article>
    {% endfor %}
</section>
{% endif %}

{% endblock %}
